$font1: 'Times New Roman', Times, serif;
$navcolor: rgb(182, 174, 101);
$maincolor: rgb(211, 200, 105);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font1;
}


.navbar{
    background-color: $navcolor;
}

.superhome{
    color: #000;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 25px;
}

.nav-item{
    font-size: 20px;
}



main{
    height: auto;
    width: 100%;
    background-color: $maincolor;
}

.jumbotron{
    height: 300px;
    background-image: url(imagenes/sobre\ nosotros2.jpg);
    background-size: cover;
    background-position: left;
    margin-bottom: 0;
}

.minigaleria{
    width: 50%;
    height: 200px;
}

.parte1{
    display: flex;
    flex-direction: row;
}

.parte2{
    display: flex;
    flex-direction: row;
}

.h1index{
    font-weight: bold;
}

@media screen and (min-width: 481px){
    .imgindex{
    width: 30%;
    height: 300px;
}

}
.pindex{
    padding: 30px;
}

.divindex{
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.call{
    width: 65%;
    border: 5px solid rgb(182, 174, 101); border-top-style: hidden;
    padding: 15px;
}


.h4index{
    text-align: center;
    text-decoration: underline;
    padding-bottom: 30px;
}


footer{
    background-color: $navcolor;
    width: 100%;
    height: auto;
    padding: 20px;

    .h3general{
        font-size: 22px;
    }

    .redes{
        text-align: center;

        a{
            color: #000;
            text-decoration: none;
            font-size: 25px;
        }
    }
}

.mainprodc{
    height: auto;
    width: 100%;
}

.h1prodc{
    text-align: left;
    padding: 20px 20px 80px 20px;
    text-decoration: underline;
    font-family: $font1;
}

/*HAMBURGUESAS*/

.team1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: left;
    padding-bottom: 35px;
}

.team2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: left;
    padding-bottom: 35px;
}

.card{
    height: 200px;
    width: 205px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    border: #000 solid;
    cursor: pointer;

    a{
        text-decoration: underline;
        color: rgb(170, 159, 60);
    }

    h5{
        text-decoration: solid;
    }
}

#cardp{
    transition: height 0.5s;
}

#cardp:hover{
    height: 220px;
}

#cardp2{
    @extend #cardp;
}

#cardp3{
    @extend #cardp;
}

#cardp4{
    @extend #cardp;
}

#cardp5{
    @extend #cardp;
}

#cardp6{
    @extend #cardp;
}

.desc{
    color: rgb(170, 159, 60);
}

/*HAMBURGUESAS FIN*/

/* LAS MAS PEDIDAS*/

.maspedidas{

    h4{
        padding-left: 20px;
        text-decoration: underline;
    }
}

.para{
    padding-left: 10px;
    height: 50px;
    color: rgb(170, 159, 60);
    background-color: #000;
    border: 1px solid white;
}

.maspedidas3{
    padding-bottom: 5px;
}

@for $incremento1 from 1 through 2 {
    .todos-#{$incremento1} {
        width: 170px * $incremento1;
    }
}

@for $incremento2 from 1 through 2 {
    .todoss-#{$incremento2} {
        width: 230px * $incremento2;
    }
}

@for $incremento3 from 1 through 2 {
    .todosss-#{$incremento3} {
        width: 200px * $incremento3;
    }
}
/* LAS MAS PEDIDAS FIN*/
.redesp{
    text-align: center;
    
}

.redesp a{
    color: #000;
    text-decoration: none;
    font-size: 25px;
}


.h1nos{
    text-align: left;
    padding: 20px 20px 80px 20px;
    text-decoration: underline;
    font-family: $font1;
}

.nosotros1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "carddesc1n img2n"
    "carddesc1n img2n";
}

.carddesc1n{
    grid-area: carddesc1n;
    padding-left: 20px;

    .nuestrahistoria{
        text-decoration: underline;
        text-align: center;
        padding-bottom: 20px;
    }
}

.img2n{
    grid-area: img2n;
    padding-left: 100px;
    background-position-x: center;
}

.nosotros2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "img1n carddesc2n";
}

.carddesc2n{
    grid-area: carddesc2n;
    padding-right: 20px;

    .dondeencontrarnos{
        text-decoration: underline;
        text-align: center;
        padding-top: 20px;
    }

    a{
        text-decoration: none;
        color: #000;
        text-align: center;
    }
}

.img1n{
    grid-area: img1n;
    padding-left: 100px;
}

.redesn{
    text-align: center;
}

.redesn a{
    color: #000;
    text-decoration: none;
    font-size: 25px;  
}


.con{
    display: flex;
    flex-direction: row-reverse;
}

.con li{
    list-style: none;
    display: inline-block;
}

.con a{
    text-decoration: none;
    color: white;
}

.con a:hover{
    color: grey;
}

.logocon{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    color: black;
}

.maincon{
    height: auto;
    width: 100%;
    /*background-color: #000;
    background-image: url(imagenes/beef-g7b5d65d76_1280.png);*/
    background-size: cover;
    background-position: left;
}

.h1con{
    text-align: left;
    padding: 20px 20px 60px 20px;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}

.pruebalistadiv{
    display: flex;
    flex-direction: column;
}


.listascon{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.h3con{
    padding-left: 30px;
    padding-bottom: 15px;
    text-decoration: underline;
}

.licon1{
    padding-left: 20px;
    font-size: 14px;
}

.h3con2{
    padding-left: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-decoration: underline;
}

.licon2{
    padding-left: 20px;
    font-size: 14px;
}

.h3con3{
    padding-left: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-decoration: underline;
}

.licon3{
    padding-left: 20px;
    font-size: 14px;
    padding-bottom: 20px;
}

.divcon{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    font-size: $font1;
}

input:focus{
    font-size: 17px;
}

input::placeholder{
    color: black;
    text-align: center;
}

.headerubi{
    background-color: $navcolor;
    width: 100%;
    height: 90px;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    padding: 20px;
}

.ubi{
    display: flex;
    flex-direction: row-reverse;
}

.ubi li{
    list-style: none;
    display: inline-block;
}

.ubi a{
    text-decoration: none;
    color: white;
}

.ubi a:hover{
    color: grey;
}

.logoubi{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    color: black;
}

.mainubi{
    height: calc(100vh - 90px);
    width: 100%;
    /*background-color: rgb(255, 245, 154);*/
    /*background-image: url(imagenes/beef-g7b5d65d76_1280.png);*/
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: column;
}

.h1ubi{
    text-align: left;
    padding: 20px 20px 80px 20px;
    text-decoration: underline;
    font-family: $font1;
}

.h3ubi{
    text-align: left;
    padding: 30px;
}

.liubi1{
    padding-left: 30px;
}

.iframe{
    padding-top: 50px;
}

@media screen and (max-width: 360px){
    .navbar{
        background-color: $navcolor;
    }
    
    main{
        background-color: $maincolor;
        height: auto;
        width: 100%;
    }

    .h1ubi{
        padding-bottom: 10px;
        font-size: 35px;
        text-align: center;
    }

    .h3ubi{
        font-size: 28px;
        text-align: left;
        padding-bottom: 12px;
    }

    .liubi1{
        padding-bottom: 12px;
    }

    .redesn{
        font-size: 40px;
    }

    .nav-item{
        font-size: 18px;
    }
    /*MAIN*/
    .h1index{
        font-size: 24px;
    }

    .iframe{
        width: 100%;
        padding-top: 27px;
    }

    .jumbotron{
        height: 150px;
        background-image: url(imagenes/sobre\ nosotros2.jpg);
        background-size: cover;
        background-position: left;
        margin-bottom: 0;
    }

    .minigaleria{
        width: 50%;
        height: 100px;
    }

    .parte1{
        display: flex;
        flex-direction: row;
    }

    .parte2{
        display: flex;
        flex-direction: row;
    }

    .pindex{
        margin: 0;
        padding: 20px;
    }

    .divindex{
        display: flex;
        flex-direction: column;
        max-width: 360px;
        margin: 0 auto;
    }

    .imgindex{
        max-width: 100%;
        height: auto;
    }

    .pindex2{
        padding: 10px;
    }

    .h4index{
        text-align: center;
        text-decoration: underline;
        padding-bottom: 30px;
    }

    /*FIN MAIN*/

    /*PRODUCTOS*/

    .h1prodc{
        text-align: center;
        padding: 20px;
        padding-bottom: 40px;
    }

    .team1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-bottom: 25px;
    }

    .team2{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-bottom: 35px;
    }

    .card{
        height: 200px;
        width: 205px;
        background-color: #000;
        text-align: center;
        border: #000 solid;
        cursor: pointer;

        a{
            text-decoration: underline;
            color: rgb(170, 159, 60);
        }

        h5{
            text-decoration: solid;
        }
    }

    #cardp{
        transition: height 0.5s;
    }

    #cardp:hover{
        height: 220px;
    }

    #cardp2{
        @extend #cardp;
    }

    #cardp3{
        @extend #cardp;
    }

    #cardp4{
        @extend #cardp;
    }

    #cardp5{
        @extend #cardp;
    }

    #cardp6{
        @extend #cardp;
    }

    .desc{
        color: rgb(170, 159, 60);
    }

    /*MAS PEDIDAS*/

    .maspedidas h4{
        text-align: center;
        text-decoration: underline;
    }

    .para{
        padding-left: 10px;
        height: 50px;
        color: rgb(170, 159, 60);
        background-color: #000;
        border: 1px solid white;
    }

    .maspedidas3{
        padding-bottom: 0;
    }

    @for $incremento1 from 1 through 2 {
        .todos-#{$incremento1} {
            width: 100px * $incremento1;
        }
    }

    @for $incremento2 from 1 through 2 {
        .todoss-#{$incremento2} {
            width: 170px * $incremento2;
        }
    }

    @for $incremento3 from 1 through 2 {
        .todosss-#{$incremento3} {
            width: 140px * $incremento3;
        }
    }

    /*FIN MAS PEDIDAS*/
    /*FIN PRODUCTOS*/

    /*NOSOTROS*/
    .h1nos{
        text-align: center;
        padding: 20px;
        padding-bottom: 40px;
    }

    .nosotros1{
        display: flex;
        flex-wrap: wrap;
    }

    .carddesc1n{
        padding-left: 20px;
        padding-right: 20px;
    }

    .img2n{
        padding-left: 20px;
    }

    .nosotros2{
        display: flex;
        flex-wrap: wrap;
    }

    .carddesc2n{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;

        a{
            text-decoration: underline;
        }
    }

    .img1n{
        padding-left: 25px;
    }

    /*FIN NOSOTROS*/
    /*CONTACTO*/
    .h1con{
        text-align: center;
        text-decoration: underline;
        padding: 20px;
    }

    .pruebalistadiv{
        display: flex;
        flex-direction: column;
    }

    .listascon{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .h3con{
        padding-left: 30px;
        padding-bottom: 15px;
        text-decoration: underline;
    }

    .licon1{
        padding-left: 20px;
        font-size: 14px;
    }

    .h3con2{
        padding-left: 30px;
        padding-bottom: 15px;
        padding-top: 15px;
        text-decoration: underline;
    }

    .licon2{
        padding-left: 20px;
        font-size: 14px;
    }

    .h3con{
        padding-left: 30px;
        padding-bottom: 15px;
        padding-top: 15px;
        text-decoration: underline;
    }

    .licon3{
        padding-left: 20px;
        font-size: 14px;
        padding-bottom: 20px;
    }

    .divcon{
        font-size: $font1;
    }

    .input:focus{
        font-size: 17px;
    }

    .input::placeholder{
        color: #000;
        text-align: center;
    }

    textarea{
        width: 230px;
    }


    /*FIN CONTACTO*/


    /*FOOTER*/
    footer{
        background-color: $navcolor;
        padding: 10px;
        width: 100%;
        height: auto;
    }

    .h3general{
        font-size: 30px;
    }

    .redes a{
        color: #000;
        text-decoration: none;
        font-size: 30px;
    }
}